.cartAndPurchase {
    display: flex;
    flex-wrap: wrap;
}

/* Items */
.items {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Item Card */
.itemCard {

    width: 300px;
    padding: 20px;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.itemTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 10px;
}

.itemPrice {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 15px;
}

.addToCart {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6c63ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addToCart:hover {
    background-color: #554dcc;
}

.seacrhAndItem {
    display: flex;
    flex-direction: column;
}

/* + button */

.addSubBtn {
    color: white;
    background-color: black;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

/* for total price */
.filterContainer {
    background-color: #f8f9ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
    position: sticky;
    top: 10px;
    /* Keeps filter fixed at the top when scrolling */
}

.title {
    font-size: 1.2rem;
    color: #1e4e8c;
    margin-bottom: 20px;
}

.priceFilter label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.categoryFilter h4 {
    margin-top: 20px;
    font-size: 1rem;
    color: #1e4e8c;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkboxContainer input {
    margin-right: 8px;
}