.profileCard {
    width: 100%;
    height: 45%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    /* padding: 30px; */
}

.headerBackground {
    height: 170px;
    background: linear-gradient(to right, #dfe9f3, #edf2f7);
}

.profileImageContainer {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.addIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #0077b5;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profileDetails {
    margin-top: 60px;
    padding: 10px 20px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.location {
    font-size: 14px;
    color: #666;
}